.rooms {
    padding: 50px 0;
    text-align: center;
  }
  
  .rooms h2 {
    font-size: 36px;
    margin-bottom: 30px;
  }
  
  .room-list {
    display: flex;
    justify-content: space-around;
  }
  
  .room {
    width: 25%;
    margin: 0 15px;
  }
  
  .room img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
  }
  
  .room h3 {
    font-size: 24px;
    margin-top: 15px;
    height: 45px;
  }

  .room p{
    height: 70px;
  }

  .room-info {
    padding: 16px;
    flex-grow: 1; /* Ensures this section takes up remaining space */
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Pushes the button to the bottom */
  }
  
  .room button{
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 3px;
  }

  .room h5{
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-light);
  }

  .room h5 span{
    font-size: 1.1rem;
    color: var(--text-dark);
  }

  .room button:hover {
    background-color: #2980b9;
  }

  @media (max-width: 768px){
    .room img{
      height: 100px;
    }

    .room button{
      text-align: center;
      padding: 7px 9px;
      font-size: 12px;
    }
  }
  